<div ng-controller="addAppointmentController">

	<div class="col-sm-6">
	<h1> Add Appointment</h1>
		<div class="form-group">
			<label for="inputdefault">Title</label>
			<input class="form-control" id="inputdefault" type="text">
	    </div>
		<div class="dropdown">
		    <label>Start Date</label>
		    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#"
		       href="#/addAppointment">
		        <div class="input-group date">
		            <input type="text" class="form-control" data-ng-model="dateRangeStart">
		            <span class="input-group-addon">
		            	<i class="glyphicon glyphicon-calendar"></i>
		            </span>
		        </div>
		    </a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		        <datetimepicker data-ng-model="dateRangeStart"
		                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
		                        data-on-set-time="startDateOnSetTime()"
		                        data-before-render="startDateBeforeRender($dates)">
		        </datetimepicker>
		    </ul>
		</div>


		<div class="dropdown">
		    <label>End Date</label>
		    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#"
		       href="#/addAppointment">
		        <div class="input-group date">
		            <input type="text" class="form-control" data-ng-model="dateRangeEnd">
		            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		        </div>
		    </a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		        <datetimepicker data-ng-model="dateRangeEnd"
		                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
		                        data-on-set-time="endDateOnSetTime()"
		                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
		        </datetimepicker>
		    </ul>
		</div>
		<button type="button" class="btn btn-success" ng-click="addAppointment()">Add Appointment
		</button>
	</div>
</div>